apiVersion: v1
kind: Secret
metadata:
  name: vsphere-config-secret
  namespace: vmware-system-csi
type: Opaque
stringData:
  csi-vsphere.conf: |
    [Global]
    cluster-distribution = "EKS"
    thumbprint = ""

    [VirtualCenter "<FQDN or IP>"]
    insecure-flag = "<true or false>"
    user = "<user>@<vsphere-domain>"
    password = "<password>"
    datacenters = "/folder/path/to/datacenter,/folder/path/to/other/datacenter/,..."
